nav {
    
    background-color: grey;
    height: 90px;
    padding: 10px;
}

#logo {

    background-color: black;
    color: white;
    width: 200px;
    height: 70px;
    float: left;

}

.navItem {
    
    display: inline-block;
    color: white;
    width: 190px;
    height: 70px;
}