body {
    text-align: center;
    color: rgb(173, 170, 170);
    
}


nav {
    
    background-color: grey;
    height: 90px;
    /* padding: 10px; */
}

/* #navBarMarginSection {
    margin: auto
    border: solid black;
    height: 90px;
    width: 960px;
} */

#logo {

    background-color: black;
    width: 200px;
    height: 70px;
    /* float: left; */
    display: inline-block;
    /* margin-top: 10px; */
    margin: 10px 0px 10px 0px;
    line-height: 67px;

}

.navItem {
    
    /* margin-top: 10px; */
    width: 185px;
    height: 70px;
    background-color: rgb(100, 96, 96);
    /* float: left; */
    display: inline-block;
    margin: 10px 0px 10px 0px;
    line-height: 67px;
}

#topItem {
    width: 960px;
    height: 450px;
    background-color: black;
    margin: 30px auto 30px auto;
    line-height: 450px;
    font-size: 50px;
}

.subItemsSection {
    width: 960px;
    margin: 30px auto 30px auto;
    /* border: solid black; */
}

#subItem1 {
    width: 300px;
    height: 375px;
    background-color: black;
    display: inline-block;
    margin: 5px 0px 5px 0px;
    line-height: 375px;
    font-size: 30px;
}

#subItem2 {
    width: 300px;
    height: 375px;
    background-color: black;
    display: inline-block;
    margin: 5px 25px 5px 25px;
    text-align: center;
    line-height: 375px;
    font-size: 30px;
}

#subItem3 {
    width: 300px;
    height: 375px;
    background-color: black;
    display: inline-block;
    margin: 5px 0px 5px 0px;
    line-height: 375px;
    font-size: 30px;
}


#bottomSection {
    width: 960px;
    height: 400px;
    /* border: solid black; */
    margin: auto;
    margin-bottom: 30px;
}

#featuredSection {
    width: 480px;
    height: 400px;
    background-color: black;
    /* display: inline-block; */
    /* margin: 5px 0px 5px 0px; */
    /* margin-right: 50%; */
    line-height: 375px;
    font-size: 30px;
    /* display: inline-block; */
    float: left;
}

#rightTextSection {
    width: 450px;
    height: 360px;
    background-color: black;
    display: inline-block;
    /* margin: 5px 0px 5px 0px; */
    /* margin-left: 50%; */
    font-size: 15px;
    /* display: inline-block; */
    float: right;
    overflow: scroll;
}


/* Copied from W3 School */
  .button {
    font: black;
    background: grey;
    line-height: 35px;
    height: 40px;
    width: 150px;
    margin-right: 300px;
    float: right;
    -webkit-transition-duration: 0.350s; /* Safari */
    transition-duration: 0.350s;
    text-decoration: none;
  }
  
  .button:hover {
    background-color: #4CAF50; /* Green */
    color: white;
    text-decoration: none;
  }
/* End Copy */